#overlay-modal-wrapper {
	position: fixed;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	background-color: rgba(0, 0, 0, 0.2);
	color: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	width: 100vw;
	height: 100vh;
	overflow-y: auto;
	display: none;
}
