<div id='customAlertOverlay' class='modal-overlay'>
	<div id='customAlertModal' class='modal'>
		<h3 class='modal-title'>
			<b>Form Control Required</b>
		</h3>
		<div class='modal-message'>
			<p>You need to complete the form control process.</p>
			<div class='button-container'>
				<button id='goToFormControlButton' class='modal-button primary'>
					<i class='fas fa-edit'></i> Go To Form Control
				</button>
				<button id='closeModalButtonNotOnJobSearch' class='modal-button secondary'>OK</button>
			</div>
		</div>
	</div>
</div>
